.v-menu-box nav,
.v-menu-box nav ul {
  height: 100%;
}
.v-menu-box nav ul li {
  position: relative;
  height: 16.66666667%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.376);
}
.v-menu-box nav ul li .inn {
  position: absolute;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}
.v-menu-box nav ul li .t {
  height: 18px;
  padding-left: 50px;
  color: white;
  font-size: 18px;
  line-height: 18px;
}
.v-menu-box nav ul li .e {
  height: 14px;
  padding-left: 50px;
  padding-top: 8px;
  color: white;
  font-size: 14px;
  line-height: 14px;
}
.v-menu-box nav ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 14px;
  width: 22px;
  height: 18px;
  margin-top: -9px;
  background: url(../../images/icons.png) no-repeat;
}
.v-menu-box nav ul li.active {
  background-color: rgba(0, 0, 0, 0.486);
}
.v-menu-box nav ul li[data-n=hot]::before {
  background-position: -141px -328px;
}
.v-menu-box nav ul li[data-n=hk]::before {
  background-position: -143px -129px;
}
.v-menu-box nav ul li[data-n=japan]::before {
  background-position: -143px -167px;
}
.v-menu-box nav ul li[data-n=asia]::before {
  background-position: -143px -203px;
}
.v-menu-box nav ul li[data-n=eu]::before {
  background-position: -143px -246px;
}
.v-menu-box nav ul li[data-n=au]::before {
  background-position: -143px -287px;
}
.v-menu-box .menu {
  position: absolute;
  top: 0;
  left: 296px;
  width: 350px;
  height: 1000px;
  display: none;
  background-color: rgba(0, 0, 0, 0.486);
  transition: all 0.4s ease 0s;
}
.v-menu-box .menu.active {
  display: block;
}
.v-menu-box .menu .menu_inn {
  padding: 10px;
}
.v-menu-box .menu .menu_inn dl dt {
  color: white;
  font-size: 17px;
  line-height: 30px;
}
.v-menu-box .menu .menu_inn dl dd {
  line-height: 18px;
  margin-bottom: 20px;
}
.v-menu-box .menu .menu_inn dl dd a {
  color: white;
  margin-right: 10px;
  font-size: 14px;
}
.v-menu-box .menu .menu_inn dl dd a:hover {
  color: #20BD9A;
}