body {
  color: #1C1F21;
}
a {
  text-decoration: none;
  color: #1C1F21;
}
@font-face {
  font-family: "PingFangSCRegular";
  /* IE9 */
  src: url('../fonts/PingFangSCRegular.ttf?t=1583684254005') format('truetype');
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center-wrap {
  width: 1152px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.site-head {
  height: 150px;
}
.site-head .topbar {
  height: 32px;
  background-color: #2A2A2A;
}
.site-head .topbar .shortcut-links > ul > li {
  float: left;
  padding: 0 9px;
  line-height: 32px;
  font-size: 14px;
}
.site-head .topbar .shortcut-links > ul > li:first-child {
  padding-left: 0;
}
.site-head .topbar .shortcut-links > ul > li > a {
  color: white;
  font-weight: normal;
}
.site-head .topbar .shortcut-links > ul > li:hover > a {
  color: #58f8d5;
}
.site-head .topbar .shortcut-links > ul > li.have_menu {
  padding-right: 22px;
  position: relative;
}
.site-head .topbar .shortcut-links > ul > li.have_menu::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: url(../images/icons.png) no-repeat 0 0;
  right: 8px;
  top: 50%;
  margin-top: -3px;
  transition: all 0.4s ease 0s;
}
.site-head .topbar .shortcut-links > ul > li.have_menu:hover::before {
  transform: rotate(180deg);
}
.site-head .topbar .shortcut-links > ul > li.have_menu:hover .h_menu {
  display: block;
}
.site-head .topbar .shortcut-links > ul > li.have_menu .h_menu {
  position: absolute;
  left: 0;
  top: 32px;
  z-index: 99999;
  display: none;
  padding-top: 6px;
  width: 130px;
}
.site-head .topbar .shortcut-links > ul > li.have_menu .h_menu .menu_box {
  background: rgba(255, 255, 255, 0.87);
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.site-head .topbar .shortcut-links > ul > li.have_menu .h_menu .menu_box ul li {
  line-height: 25px;
}
.site-head .topbar .shortcut-links > ul > li.have_menu .h_menu .menu_box ul li > a:hover {
  color: #20BD9A;
}
.site-head .topbar .topbar-r {
  float: right;
}
.site-head .topbar .topbar-r ul li {
  float: left;
  padding: 0 9px;
  line-height: 32px;
  position: relative;
  font-size: 14px;
}
.site-head .topbar .topbar-r ul li:first-child {
  padding-right: 20px;
}
.site-head .topbar .topbar-r ul li:first-child::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: white;
  top: 50%;
  margin-top: -11px;
  right: 5px;
}
.site-head .topbar .topbar-r ul li a {
  color: white;
}
.site-head .topbar .topbar-r ul li a.iconfont {
  font-size: 20px;
}
.site-head .topbar .topbar-r ul li a:hover {
  color: #58f8d5;
}
.site-head .topbar .topbar-r ul li a.fdj {
  font-size: 24px;
}
.site-head .main-nav {
  height: 40px;
  background: #20BD9A;
}
.site-head .main-nav ul.main-nav-list > li {
  float: left;
  padding: 0 9px;
  line-height: 40px;
}
.site-head .main-nav ul.main-nav-list > li:first-child {
  padding-left: 0;
}
.site-head .main-nav ul.main-nav-list > li.have_menu {
  padding-right: 20px;
  position: relative;
}
.site-head .main-nav ul.main-nav-list > li.have_menu::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 5px;
  top: 19px;
  border: 4px solid transparent;
  border-top-color: white;
  border-bottom: none;
  transition: all 0.4s ease 0s;
}
.site-head .main-nav ul.main-nav-list > li.have_menu:hover .h_menu {
  display: block;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu {
  position: absolute;
  left: 0;
  top: 38px;
  z-index: 99999;
  display: none;
  padding-top: 6px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu.jj {
  width: 200px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu.gt {
  width: 170px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu.dd {
  width: 200px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu.sd {
  width: 120px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu .menu_box {
  background: rgba(255, 255, 255, 0.87);
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu .menu_box dl dt {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu .menu_box dl dd {
  line-height: 25px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu .menu_box dl dd > a {
  font-size: 13px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu .menu_box dl dd > a:hover {
  color: #20BD9A;
}
.site-head .main-nav ul.main-nav-list > li > a {
  color: white;
  display: block;
}
.site-head .main-nav ul.main-nav-list > li:hover > a {
  text-shadow: 1px 1px 1px rgba(9, 87, 35, 0.678);
}
.site-head .main-nav ul.main-nav-list > li.have_menu:hover::before {
  transform: rotate(180deg);
}
.site-head .header-con {
  height: 78px;
}
.site-head .header-con h1 {
  float: left;
  width: 118px;
  height: 22px;
  background: url(../images/icons.png) 0 -10px;
  text-indent: -9999em;
  margin-top: 28px;
}
.site-head .header-con h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
.site-head .header-con .soso-box {
  float: left;
  width: 405px;
  height: 30px;
  border: 1px solid #20BD9A;
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 24px;
  border-radius: 4px;
  position: relative;
}
.site-head .header-con .soso-box input {
  border: none;
  width: 405px;
  height: 28px;
  outline: none;
  font-size: 14px;
  margin-left: 8px;
  color: #333;
}
.site-head .header-con .soso-box .btn {
  position: absolute;
  width: 32px;
  height: 30px;
  background-color: #33ad93;
  right: -1px;
  top: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.site-head .header-con .soso-box .btn:hover {
  background-color: #20BD9A;
}
.site-head .header-con .soso-box .btn b {
  font-size: 24px;
  color: white;
  font-weight: normal;
  line-height: 30px;
  position: absolute;
  top: 0px;
  left: 3px;
}
.banner {
  width: 100%;
  min-width: 1152px;
  position: relative;
  overflow: hidden;
}
.banner .carousel {
  width: 100%;
  overflow: hidden;
}
.banner .carousel ul {
  width: 600%;
  overflow: hidden;
}
.banner .carousel ul li {
  float: left;
  width: 16.66666667%;
}
.banner .carousel ul li img {
  width: 100%;
  height: auto;
  display: block;
}
.banner .carousel .circles {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 99999;
  width: 180px;
  margin-left: -90px;
}
.banner .carousel .circles li {
  cursor: pointer;
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 14px;
  background-color: rgba(248, 248, 248, 0.794);
  border-radius: 60px;
  transition: all 0.3s ease 0s;
}
.banner .carousel .circles li.cur {
  background-color: #20bd9a;
  width: 32px;
}
.banner .center-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1152px;
  margin-left: -576px;
}
.banner .center-wrap .btns .btn {
  position: absolute;
  width: 32px;
  height: 44px;
  background-image: url(../images/icons.png);
  top: 50%;
  margin-top: -22px;
}
.banner .center-wrap .btns .btn.leftbtn {
  left: -40px;
  background-position: -145px -61px;
}
.banner .center-wrap .btns .btn.leftbtn:hover {
  background-position: -191px -61px;
}
.banner .center-wrap .btns .btn.rightbtn {
  right: -40px;
  background-position: -144px -10px;
}
.banner .center-wrap .btns .btn.rightbtn:hover {
  background-position: -190px -10px;
}
.banner .center-wrap .v-menu-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 296px;
  height: 100%;
}
.banner .center-wrap .v-menu-box nav {
  height: 100%;
}
.banner .center-wrap .v-menu-box nav ul {
  height: 100%;
}
.banner .center-wrap .v-menu-box nav ul li {
  height: 16.66666667%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.376);
  cursor: pointer;
}
.banner .center-wrap .v-menu-box nav ul li .inn {
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.banner .center-wrap .v-menu-box nav ul li .t {
  padding-left: 50px;
  color: white;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
}
.banner .center-wrap .v-menu-box nav ul li .e {
  padding-left: 50px;
  color: white;
  font-size: 14px;
  padding-top: 8px;
  height: 14px;
  line-height: 14px;
}
.banner .center-wrap .v-menu-box nav ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 14px;
  width: 22px;
  height: 18px;
  background: url(../images/icons.png) no-repeat;
}
.banner .center-wrap .v-menu-box nav ul li.active {
  background-color: rgba(0, 0, 0, 0.486);
}
.banner .center-wrap .v-menu-box nav ul li[data-n=hot]::before {
  background-position: -141px -328px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n=hk]::before {
  background-position: -143px -129px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n=japan]::before {
  background-position: -143px -167px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n=asia]::before {
  background-position: -143px -203px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n=eu]::before {
  background-position: -143px -246px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n=au]::before {
  background-position: -143px -287px;
}
.banner .center-wrap .v-menu-box .menu {
  position: absolute;
  width: 350px;
  height: 1000px;
  top: 0;
  left: 296px;
  display: none;
  background-color: rgba(0, 0, 0, 0.486);
  transition: all 0.4s ease 0s;
}
.banner .center-wrap .v-menu-box .menu.active {
  display: block;
}
.banner .center-wrap .v-menu-box .menu .menu_inn {
  padding: 10px;
}
.banner .center-wrap .v-menu-box .menu .menu_inn dl dt {
  font-size: 17px;
  color: white;
  line-height: 30px;
}
.banner .center-wrap .v-menu-box .menu .menu_inn dl dd {
  line-height: 18px;
  margin-bottom: 20px;
}
.banner .center-wrap .v-menu-box .menu .menu_inn dl dd a {
  color: white;
  margin-right: 10px;
  font-size: 14px;
}
.banner .center-wrap .v-menu-box .menu .menu_inn dl dd a:hover {
  color: #20BD9A;
}

.layer {
  overflow: hidden;
}
.layer:nth-child(2n+1) {
  background-color: #F7F7F7;
}
.layer .hd {
  padding-top: 50px;
  padding-bottom: 42px;
  overflow: hidden;
}
.layer .hd h3 {
  font-size: 36px;
  color: #1C1F21;
  line-height: 36px;
  font-weight: bold;
  float: left;
}
.layer .hd .slogan {
  float: left;
  color: #1C1F21;
  padding-top: 20px;
  margin-left: 10px;
  font-size: 14px;
}
.layer .hd .tabbar {
  float: right;
  margin-top: 10px;
}
.layer .hd .tabbar ul li {
  float: left;
  margin-right: 15px;
  font-size: 15px;
}
.layer .hd .tabbar ul li:last-child {
  margin-right: 0;
}
.layer .hd .tabbar ul li.current {
  border-bottom: 4px solid #20BD9A;
  padding-bottom: 4px;
}
.layer .hd .tabbar ul li.current a {
  color: #20BD9A;
}
.layer .hd .tabbar ul li:hover a {
  color: #20BD9A;
}
.layer .grid {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.layer .grid:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.layer .grid img.p-img {
  transition: all 0.4s ease 0s;
}
.layer .grid .pic {
  overflow: hidden;
}
.layer .grid:hover .pic {
  overflow: hidden;
}
.layer .grid:hover .pic img.p-img {
  transform: scale(1.1);
}
.layer .grid.more {
  background: -webkit-linear-gradient(top, #34E3BC, #15AF7A);
  cursor: pointer;
}
.layer .grid.more a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}
.layer .grid.more .more_con {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
.layer .grid.more:hover .arrow {
  animation: jump 0.2s ease 0s infinite alternate;
}
@keyframes jump {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(-4px);
  }
}
.layer .grid.more .arrow {
  transition: all 0.4s ease 0s;
  color: white;
  position: absolute;
  top: 100px;
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  text-align: center;
}
.layer .grid.more .arrow b {
  font-size: 60px;
}
.layer .grid.more .tj {
  position: absolute;
  width: 100%;
  bottom: 50px;
  text-align: center;
}
.layer .grid.more .tj ul li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid white;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
}
.layer .grid.more .tj ul li:last-child {
  border-right: none;
}
.fav-ad {
  height: 110px;
  padding: 32px 0;
}
.fav-ad ul li.grid {
  float: left;
  width: 264px;
  height: 110px;
  margin-right: 32px;
  box-shadow: none;
}
.fav-ad ul li.grid:last-child {
  margin-right: 0;
}
.fav-ad ul li.grid img.p-img {
  width: 264px;
  height: 110px;
  transition: all 0.3s ease 0s;
}
.xxsw {
  height: 738px;
}
.xxsw .bd ul li.grid {
  float: left;
  width: 264px;
  height: 270px;
  margin-right: 32px;
  background-color: white;
  margin-bottom: 32px;
}
.xxsw .bd ul li.grid:nth-child(4n) {
  margin-right: 0;
}
.xxsw .bd ul li.grid .pic {
  width: 264px;
  height: 184px;
}
.xxsw .bd ul li.grid .pic img.p-img {
  width: 264px;
  height: 184px;
}
.xxsw .bd ul li.grid .tip {
  padding: 20px 10px 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 24px;
}
.layer-common-style {
  height: 738px;
}
.layer-common-style .bd ul li.grid {
  float: left;
  width: 264px;
  height: 270px;
  margin-right: 32px;
  background-color: white;
  margin-bottom: 32px;
  position: relative;
  transition: all 0.4s ease 0s;
}
.layer-common-style .bd ul li.grid .pic {
  width: 264px;
  height: 184px;
}
.layer-common-style .bd ul li.grid .pic img.p-img {
  width: 264px;
  height: 184px;
}
.layer-common-style .bd ul li.grid .tip {
  padding: 20px 10px 0;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 24px;
}
.layer-common-style .bd ul li.grid:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.layer-common-style .bd ul li.grid .type {
  width: 74px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.44);
  color: white;
  position: absolute;
  top: 144px;
  left: 0px;
  text-align: center;
  line-height: 40px;
}
.layer-common-style .bd ul li.grid.big {
  width: 560px;
  position: relative;
  box-shadow: none;
  overflow: hidden;
}
.layer-common-style .bd ul li.grid.big .pic {
  width: 560px;
  height: 270px;
}
.layer-common-style .bd ul li.grid.big .pic img.p-img {
  width: 560px;
  height: 270px;
}
.layer-common-style .bd ul li.grid.big .tip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 560px;
  height: 103px;
  background-color: rgba(0, 0, 0, 0.44);
  padding: 0;
  font-size: 16px;
  line-height: 26px;
}
.layer-common-style .bd ul li.grid.big .tip .inn {
  padding: 20px;
  color: white;
}
.layer-common-style .bd ul li.grid.big .type {
  top: 127px;
}
.layer-common-style .bd ul li.grid:nth-child(3),
.layer-common-style .bd ul li.grid:nth-child(7) {
  margin-right: 0;
}
.ddwl {
  height: 586px;
}
.ddwl .bd li.grid {
  width: 364px;
  height: 120px;
  background: white;
  margin-bottom: 30px;
}
.ddwl .bd li.grid .pic {
  float: left;
  width: 120px;
  height: 120px;
}
.ddwl .bd li.grid .pic img {
  width: 120px;
  height: 120px;
}
.ddwl .bd li.grid .tip {
  float: left;
  width: 244px;
  height: 120px;
}
.ddwl .bd li.grid .tip .inn {
  padding: 10px;
  font-size: 16px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 24px;
}
.ddwl .bd .col1 {
  float: left;
  width: 364px;
  margin-right: 30px;
}
.ddwl .bd .col1 li.big {
  width: 364px;
  height: 270px;
  position: relative;
}
.ddwl .bd .col1 li.big .pic {
  width: 364px;
  height: 270px;
}
.ddwl .bd .col1 li.big .pic img {
  width: 364px;
  height: 270px;
}
.ddwl .bd .col1 li.big .tip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 364px;
  height: 104px;
  background-color: rgba(0, 0, 0, 0.527);
}
.ddwl .bd .col1 li.big .tip .inn {
  padding: 10px 16px;
  color: white;
  line-height: 30px;
}
.ddwl .bd .col1 li.big .tip .type {
  position: absolute;
  left: 16px;
  bottom: 10px;
  color: white;
}
.ddwl .bd .col1 li.big .tip .price {
  position: absolute;
  right: 16px;
  bottom: 10px;
  color: white;
}
.ddwl .bd .col1 li.big .tip .price span {
  font-size: 26px;
  color: #34E3BC;
}
.ddwl .bd .col2 {
  float: left;
  width: 364px;
  margin-right: 30px;
}
.ddwl .bd .col3 {
  float: left;
  width: 364px;
}
.ddwl .bd .col3 .more {
  height: 270px;
  position: relative;
  background: -webkit-linear-gradient(top, #FF6374, #FF7368);
}
.tsddty {
  height: 456px;
}
.tsddty .hd h3 {
  float: none;
  text-align: center;
}
.tsddty li.grid {
  width: 264px;
  height: 290px;
  float: left;
  margin-right: 32px;
}
.tsddty li.grid:last-child {
  margin-right: 0;
}
.tsddty li.grid .tip {
  padding: 10px;
}
.tsddty li.grid .tip .inn .title {
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  font-weight: bold;
}
.tsddty li.grid .tip .inn .extra {
  padding-top: 10px;
  font-size: 13px;
}
.tsddty li.grid .tip .inn .extra .star {
  color: #FA6400;
}
.tsddty li.grid .tip .inn .extra .score {
  color: #FA6400;
}
.another-style {
  height: 738px;
}
.another-style .bd ul li.grid.big {
  position: relative;
}
.another-style .bd ul li.grid.big .tip {
  z-index: 9999;
  height: 80px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.another-style .bd ul li.grid.big:hover .mask {
  opacity: 1;
}
.another-style .bd ul li.grid.big:hover .y {
  transform: none;
}
.another-style .bd ul li.grid.big:hover .y .e {
  transform: none;
}
.another-style .bd ul li.grid.big:hover .y .c {
  transform: none;
}
.another-style .bd ul li.grid.big .mask {
  transition: all 0.5s ease 0s;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.another-style .bd ul li.grid.big .y {
  transition: all 0.5s ease 0s;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -53px;
  width: 106px;
  height: 106px;
  border: 2px solid white;
  border-radius: 50%;
  transform: scale(0);
}
.another-style .bd ul li.grid.big .y .c {
  transition: all 0.3s ease 0.2s;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 20px;
  transform: scale(0);
}
.another-style .bd ul li.grid.big .y .e {
  transition: all 0.3s ease 0.2s;
  color: white;
  text-align: center;
  padding-top: 10px;
  transform: scale(0);
}
.zsj .more {
  background: -webkit-linear-gradient(top, #BD5EE8, #832ABB) !important;
}
.gt .more {
  background: -webkit-linear-gradient(top, #41D8E9, #3685EA) !important;
}
footer .footer-nav {
  background: #F7F7F7;
  height: 220px;
}
footer .footer-nav nav ul {
  padding-top: 30px;
  overflow: hidden;
}
footer .footer-nav nav ul li {
  float: left;
  border-right: 1px solid #1C1F21;
  padding: 0 30px;
  font-size: 16px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
}
footer .footer-nav nav ul li a {
  color: #1C1F21;
}
footer .footer-nav nav ul li a:hover {
  color: #20BD9A;
}
footer .footer-nav nav ul li:first-child {
  padding-left: 0;
}
footer .footer-nav nav ul li:last-child {
  padding-right: 0;
  border-right: none;
}
footer .footer-nav .favs {
  margin-top: 50px;
}
footer .footer-nav .favs dl {
  float: left;
  width: 33.33%;
  height: 80px;
  position: relative;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 30px;
}
footer .footer-nav .favs dl::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 60px;
  height: 60px;
  background: url(../images/icons.png) no-repeat 0 -100px;
}
footer .footer-nav .favs dl.no2::before {
  background-position: 0 -200px;
}
footer .footer-nav .favs dl.no2::before {
  background-position: 0 -300px;
}
footer .footer-nav .favs dl dt {
  font-weight: bold;
  font-size: 18px;
  color: #1C1F21;
  margin-bottom: 4px;
}
footer .footer-nav .favs dl dd {
  font-size: 14px;
  color: #757575;
}
footer .bottom-bar {
  height: 200px;
  background-color: #1C1F21;
  color: white;
}
footer .bottom-bar .row1 {
  overflow: hidden;
  padding-top: 30px;
}
footer .bottom-bar .row1 .webname {
  float: left;
  font-size: 46px;
}
footer .bottom-bar .row1 .description {
  width: 480px;
  float: left;
  margin-left: 30px;
  padding-top: 10px;
  line-height: 24px;
}
footer .bottom-bar .row2 ul {
  overflow: hidden;
  padding-top: 30px;
}
footer .bottom-bar .row2 ul li {
  float: left;
  border-right: 1px solid white;
  padding: 0 10px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
}
footer .bottom-bar .row2 ul li a {
  color: white;
}
footer .bottom-bar .row2 ul li a:hover {
  color: #20BD9A;
}
footer .bottom-bar .row2 ul li:first-child {
  padding-left: 0;
}
footer .bottom-bar .row2 ul li:last-child {
  padding-right: 0;
  border-right: none;
}
footer .bottom-bar .row3 {
  font-size: 14px;
  padding-top: 10px;
}
footer .backtotop {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 120px;
  right: 50px;
  background: rgba(28, 31, 33, 0.5);
  border-radius: 2px;
  color: white;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}